# Dependencies
node_modules/

# Environment variables
.env
app.yaml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# React
/build
/.pnp
.pnp.js
coverage/

# Security
*.json
*.txt
*.docx 